<div class="content tsmodal-content" style="background: white">
    <div class="row">
        <div class="col-md-12">
            <div class="box service-box">
                <div class="form-horizontal">
                    <div class="box-body">
                        <input type="hidden" id="Id" value="@ViewBag.Id" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">备注</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" id="remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function DoRefuseUser() {
        var id = $("#Id").val();
        var _remark = $("#remark").val();
        $.ajax({
            url: '/Approval/DoRefuseUser',
            type: 'POST',
            async: false,
            data: { Id: id, remark: _remark },
            success: function (data) {
                parent.$("#tb_UserApproval").bootstrapTable("refresh");
            }
        });
    }
</script>