
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>审核数据统计</title>
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body boby >
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default" style="background:none;display:block;">
            <div id="main-menu" class="main-menu collapse navbar-collapse" style="padding:0;">
                <ul class="nav navbar-nav">
                    <li class="menu-title">Vecc数据统计</li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-bar-chart"></i>人员报表</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href='@Url.Content("~/VeccReport/ReportUserMonthRegisterView")' target="iframe_a">每月用户注册数量统计</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href='@Url.Content("~/VeccReport/CalculatingSuccessRateView")' target="iframe_a">用户计算数据统计</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-area-chart"></i>数据报表</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-map-o"></i><a href='@Url.Content("~/VeccReport/ReportDataMonthView")' target="iframe_a">每月审核数据量统计</a></li>
                            @*<li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>*@
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
    <div id="right-panel" style="margin-top:0px;" class="right-panel">
        <div class="content" style="padding:0px;margin:0,0;margin-top:2px;">
            <div class="animated fadeIn">
                <div class="buttons">
                    <div class="row" style="margin-right:0px;margin-left:0px;">
                        <div class="col-md-12">
                            <iframe scrolling="no" src='@Url.Content("~/VeccReport/ReportUserMonthRegisterView")' name="iframe_a" class="" frameborder="0" style="width:100%;height:600px;">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" scroll:no;></div>
    </div>
    <style type="text/css">
        .tab_tiele {
            font-size: 24px;
            text-align: center;
            color: #06C;
            padding: 10px;
        }

        .tab_line {
            width: 60%;
            height: 1px;
            padding: 0px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
            margin-top: auto;
            margin-right: auto;
            margin-bottom: 10px;
            margin-left: auto;
        }

        .top-buffer {
            margin-top: 10px;
        }
    </style>
</body>
</html>