@{
    Layout = null;
}
<form id="form1" runat="server">
    <div>
        <input type="hidden" id="taskId" value="@ViewBag.Id" />   
        <div align="center" id="loadImg">
            <br />
            <br />
            <br />
            <br />
            <input type="image" src="~/Content/loading.gif" style="height:200px;width:200px;" />
            <br />
            <label id="labload"></label>
        </div>
    </div>
</form>
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/AdminLTE/plugins/layer/layer.js"></script>

<script>
    $(function () {
        CalculationPolling();
    });

    function CalculationPolling() {
        var taskid = $("#taskId").val();
        //执行轮询
        $.getJSON('/Comet/CalculationPolling?id=' + taskid, function (data) {
            if (data.result) {
                $("#labload").text(data.result);
                if (data.status) {
                    if (data.status >= 6) {//计算成功
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        //parent.layer.close(index);
                        parent.CalculationResult(taskid, index);
                    }
                    if (data.status == -23) {//计算失败
                        setTimeout(function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 4000);
                    }
                }
            }
            CalculationPolling();
        });
    }
</script>