@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>模板导入</title>
</head>
<body>
    <input type="hidden" id="taskid" value="@ViewBag.TaskId" />
    <div class="row" style="margin-top:10px;margin-left:10px">
        <div class="col-sm-3">
            <input type="file" name="file" id="file" />
        </div>
        <div class="col-sm-1">
            <button type='button' id="btnUpload" onclick="uploadExcel();" class='btn btn-dropbox btn-flat'>上传</button>
        </div>
        <div class="col-sm-1">
            <button type='button' id="btnImport" onclick="importExcel();" class='btn btn-dropbox btn-flat' style="display:none">导入</button>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/AdminLTE/ajaxfileupload.js"></script>
<script type="text/javascript">
    function importExcel() {
        $.ajax({
            url: "/Calculation/ImportExcel",
            type: "POST",
            data: {},
            success: function (data) {
                var dataObj = eval("(" + data + ")");//转换为json对象
                if (dataObj.flag) {
                    msg.info("导入成功");
                    window.parent.$("#tb_User").bootstrapTable("refresh");
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);

                } else {
                    msg.error("导入失败,请检查Excel数据格式");
                }
            },
            error: function (error) {

            }
        });
    }

    function uploadExcel() {
        var _taskid = $("#taskid").val();
        $.ajaxFileUpload({
            url: '/Calculation/UploadExcel',
            secureuri: false,
            dataType: 'JSON',
            data: {taskid :_taskid },
            fileElementId: 'file',
            async: false,
            success: function (data) {
                var jsonObj = $.parseJSON(data.replace(/<.*?>/ig, ""));
                if (jsonObj.Success) {
                    //执行父页面方法
                    console.log(jsonObj.Data);
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.ReportModelVal(jsonObj.Data, index);
                }
            }
        });
    }
</script>