<div style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <div class="box service-box">
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row top-buffer">
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"> * 整车型号</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="整车型号">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">整备质量</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="整备质量">
                                    </div>
                                    <div class="pull-left"><b>kg</b></div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"> * PEMS厂商</label>
                                    <div class="col-sm-5">
                                        <select id="select" name="select" class="selectpicker show-tick form-control" data-actions-box="true">
                                            <option value="SENSORS">SENSORS</option>
                                            <option value="HORIBA">HORIBA</option>
                                            <option value="AVL">AVL</option>
                                            <option value="ECU_BOSCH">ECU_BOSCH</option>
                                            <option value="ECU_DELPHI">ECU_DELPHI</option>
                                            <option value="Cali_Pal">Cali_Pal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">整车类别</label>
                                    <div class="col-sm-5">
                                        <select id="select" name="select" class="selectpicker show-tick form-control" data-actions-box="true">
                                            <option value="N1,M1">N1,M1</option>
                                            <option value="N2,M2,M3">N2,M2,M3</option>
                                            <option value="N3">N3</option>
                                            <option value="City_Veh">City_Veh</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"> * WHTC循环功</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="WHTC循环功">
                                    </div>
                                    <div class="pull-left"><b>kw.h</b></div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">最大质量</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="最大质量">
                                    </div>
                                    <div class="pull-left"><b>kg</b></div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"> * 最大参考扭矩</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="最大参考扭矩">
                                    </div>
                                    <div class="pull-left"><b>N.m</b></div>
                                </div>
                            </div>

                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">载荷百分比</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="载荷百分比">
                                    </div>
                                    <div class="pull-left"><b>%</b></div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-6 control-label"> * 最大功率</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="name" placeholder="最大功率">
                                    </div>
                                    <div class="pull-left"><b>kw</b></div>
                                </div>
                            </div>
                            <div class="col-md-6 top-buffer">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label  pull-left"> * 周期性再生</label>
                                    <div class="col-sm-2">
                                        <label class="radio-inline">
                                            <input type="radio" value="option1" name="sex">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" checked value="option2" name="sex">否
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box service-box">
                <div class="form-horizontal">
                    <div class="box-body">
                        <div class="row top-buffer">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info btn-lg">导入测试数据</button>
                                <button type="button" style="margin-left:20px;" class="btn  btn-lg btn-info">计算</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>