@model Wolf.Vecc.Model.ViewModel.RegisterViewModel
<link href="~/assetc/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/assetc/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/assetc/css/style.css" rel="stylesheet" />
<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Contact us</h1>
            </div>
        </div>
    </div>
</header>
<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="section-title">Vecc平台注册</h3>
            <p>
                注册完成后请耐心等待后台管理员审核,如有特殊需求可请致电平台客服
            </p>
            <form action="#" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" id="input1-group1" name="input1-group1" placeholder="Username" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="input-group">
                            <input type="email" id="input2-group1" name="input2-group1" placeholder="Email" class="form-control">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-euro"></i></div>
                            <input type="text" id="input3-group1" name="input3-group1" placeholder=".." class="form-control">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="section-title">Office Address</h3>
                    <div class="contact-info">
                        <h5>Address</h5>
                        <p>5th Street, Carl View - United States</p>

                        <h5>Email</h5>
                        <p>info</p>

                        <h5>Phone</h5>
                        <p>+09 123 1234 123</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="section-title">Timings</h3>
                    <div class="contact-info">
                        <h5>Monday - Friday</h5>
                        <p>09:00 AM - 6:30 PM</p>

                        <h5>Saturday</h5>
                        <p>Closed</p>

                        <h5>Sunday</h5>
                        <p>Closed</p>
                    </div>
                </div>
            </div>
            <h3 class="section-title">Get connected</h3>
            <p>
                Lorem ipsumn qersl ioinm sersoe non urna dolor sit amet, consectetur piesn qersl ioinm sersoe non urna dolor aecena.
            </p>
        </div>
    </div>
</div>
