<link href="~/assetc/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/assetc/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assetc/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/assetc/css/style.css" rel="stylesheet" />
<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Contact us</h1>
            </div>
        </div>
    </div>
</header>
<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="section-title">Vecc平台工程师注册</h3>
            <p>
                注册完成后请耐心等待后台管理员审核,如有特殊情况可请致电平台客服
            </p>
            <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="用户名" id="name"
                               data-validation-required-message="用户名" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="国家" id="name"
                               data-validation-required-message="国家" />
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="手机号" id="name"
                               data-validation-required-message="手机号" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="企业名称" id="name"
                               data-validation-required-message="企业名称" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="邮箱" id="name"
                               data-validation-required-message="邮箱" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="密码" id="name"
                               data-validation-required-message="密码" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" placeholder="确认密码" id="name"
                               data-validation-required-message="确认密码" />
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
                                <input id="idcode-btn" class="form-control" placeholder="请输入校验码" maxlength="6" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 text-center">
                        <button type="button" id="loadingButton" class="btn btn-primary" autocomplete="off">获取短信校验码</button>
                    </div>
                </div>
                <input class="form-control btn btn-primary" id="submit" value="立&nbsp;&nbsp;即&nbsp;&nbsp;注&nbsp;&nbsp;册" type="submit">
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="section-title">Office Address</h3>
                    <div class="contact-info">
                        <h5>Address</h5>
                        <p>5th Street, Carl View - United States</p>

                        <h5>Email</h5>
                        <p>info</p>

                        <h5>Phone</h5>
                        <p>+09 123 1234 123</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="section-title">Timings</h3>
                    <div class="contact-info">
                        <h5>Monday - Friday</h5>
                        <p>09:00 AM - 6:30 PM</p>

                        <h5>Saturday</h5>
                        <p>Closed</p>

                        <h5>Sunday</h5>
                        <p>Closed</p>
                    </div>
                </div>
            </div>
            <h3 class="section-title">Get connected</h3>
            <p>
                Lorem ipsumn qersl ioinm sersoe non urna dolor sit amet, consectetur piesn qersl ioinm sersoe non urna dolor aecena.
            </p>
        </div>
    </div>
</div>
