


<style>
    .panel-title {
        margin-top: 10px;
        font-size: 40px;
        font-family: "庞门正道标题体";
    }

    .neirong {
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .bottom-copyright {
        margin-top: 50px;
    }

    .copyright {
        font-size: 12px;
        color: gray;
        margin-top: 5px;
    }
</style>

<div class="container-fluid">
    <div class="col-md-12 text-center">
        <p class="panel-title">PEMS云计算</p>
    </div>
</div>

<div class="container-fluid neirong" style="padding-left:10%;padding-right:10%">


    <div class="col-md-4 col-md-offset-2"><img class="col-md-10  col-md-offset-1 img-responsive" src="~/AdminLTE/dist/img/count@1x.png" onclick="javascript:location.href='@Url.Content("~/Calculation/Index")'"></div>
    <div class="col-md-4 "><img class="col-md-10  col-md-offset-1  img-responsive" src="~/AdminLTE/dist/img/report@1x.png" onclick="javascript:location.href='@Url.Content("~//Index")'"></div>


</div>
<div class="container-fluid bottom-copyright">
    <div class="copyright col-md-12 text-center">
        <a>关于我们 丨  联系我们  丨  在线客服  </a><br><a>Copyright©2018-2022 http://fu_pems.com</a><br><a>上海沃开汽车技术有限公司</a>
    </div>
</div>


