<style>
    .panel-title {
        margin-top: 10px;
        font-size: 40px;
        font-family: "庞门正道标题体";
    }
    .neirong {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .bottom-copyright {
        margin-top: 50px;
    }
    .copyright {
        font-size: 12px;
        color: gray;
        margin-top: 5px;
    }
</style>
<link href="~/AdminLTE/css/foot.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="col-md-12 text-center">
        <p class="panel-title">PEMS云计算</p>
    </div>
</div>
<div class="container-fluid neirong" style="padding-left:10%;padding-right:10%">
    <div class="col-md-4 col-md-offset-2"><img class="col-md-10  col-md-offset-1 img-responsive" src="~/AdminLTE/dist/img/count@1x.png" onclick="javascript:location.href='@Url.Content("~/Calculation/Index")'"></div>
    <div class="col-md-4 "><img class="col-md-10  col-md-offset-1  img-responsive" src="~/AdminLTE/dist/img/report@1x.png" onclick="javascript:location.href='@Url.Content("~/VeccReport/Index")'"></div>
</div>
<div class="footer">
    <div class="wrap">
        <div class="ft-left">
            <a href="http://bszs.conac.cn/sitename?method=show&amp;id=547D77E09CEA1918E053012819ACA7C9" target="_blank"><img src="~/AdminLTE/img/foot-left.png"></a>
        </div>
        <div class="di ft-right" style="padding-top:28px;">
            <p>主办单位：机动车排污监控中心</p>
            <p></p>
            <p>
                机动车环保网版权所有 ®2000-2018 京ICP备05031605号-18
            </p>
            <!-- <p>技术支持：航天科工智慧产业发展有限公司</p> -->
            @*<div style="width:300px;padding-top:4px;">
                    <a target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                        <img src="/templets/default/images/jdc_bah.png" style="float:left;">
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010502035894号</p>
                    </a>
                </div>*@
        </div>
        <div class="c"></div>
    </div>
</div>