<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <script>
        var path = '@Url.Content("~/")';
    </script>
    <link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap-switch.css">
    <link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <!-- global stylesheets -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">*@
    <link rel="stylesheet" href="~/AdminLTE/dist/css//bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/font-awesome-4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="~/AdminLTE/dist/css/font-icon-style.css">*@
    <link rel="stylesheet" href="~/AdminLTE/dist/css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/AdminLTE/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
    <link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/index.css">
    <link href="~/AdminLTE/toastr.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/SweetAlert/dist/sweetalert2.css" rel="stylesheet" />
    <!-- jQuery 2.2.3 -->
    <script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/AdminLTE/plugins/jQuery/jquery.unobtrusive-ajax.js"></script>
    <script src="~/AdminLTE/plugins/layer/layer.js"></script>
    <script src="~/AdminLTE/comm/_ajax.js"></script>
    <script src="~/AdminLTE/comm/_table.js"></script>
    <script src="~/AdminLTE/comm/_message.js"></script>
    <script src="~/AdminLTE/comm/comm.js"></script>
    <script src="~/AdminLTE/comm/controllist.js"></script>
    <script src="~/AdminLTE/dist/css/bootstrapValidator.min.js"></script>
    <script src="~/AdminLTE/plugins/jQueryUI/jquery-ui.min.js"></script>
    <link href="~/AdminLTE/bootstrap/css/ionicons.min.css" rel="stylesheet" />
    <script src="~/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE/bootstrap/js/bootstrap-treeview.js"></script>
    <script src="~/AdminLTE/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/AdminLTE/plugins/knob/jquery.knob.js"></script>
    <script src="~/AdminLTE/dateConvert.js"></script>
    <script src="~/Scripts/veccjs/veccTool.js"></script>
    <script src="~/AdminLTE/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/AdminLTE/plugins/fastclick/fastclick.js"></script>
    <script src="~/AdminLTE/dist/js/app.js"></script>
    <script src="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.js"></script>
    <script src="~/AdminLTE/plugins/bootstraptable/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/AdminLTE/plugins/ionslider/ion.rangeSlider.min.js"></script>
    <script src="~/AdminLTE/plugins/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
    <script src="~/AdminLTE/SweetAlert/dist/sweetalert2.js"></script>
    <script src="~/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/AdminLTE/plugins/input-mask/jquery.inputmask.regex.extensions.js"></script>
    <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    <script src="~/AdminLTE/ajaxfileupload.js"></script>
    <script src="~/AdminLTE/Cookie.js"></script>
    <script src="~/AdminLTE/toastr.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="">
        <header class="header">
            <nav class="navbar navbar-expand-lg row">
                <div class="col-sm-10">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a href='@Url.Content("~/Index")' class="navbar-brand">
                                <div class="brand-text brand-big hidden-lg-down"><img src="~/AdminLTE/dist/img/logo-white.png" alt="Logo" class="img-fluid"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <li id="approvalNumber" class="nav-item dropdown" style="display:none;">
                            <a id="notifications" href='#' onclick="javascript:location.href='/Approval/Index'" class="nav-link" rel="nofollow" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o fa-2x"></i><span class="noti-numb-bg"></span><span id="doNumber" class="badge" style="background:rgba(0,0,0,0.00)">0</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/AdminLTE/dist/img/user.png" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"></a>
                            <ul aria-labelledby="profile" class="dropdown-menu profile">
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                        <div class="msg-profile"> <img src="~/AdminLTE/dist/img/user.png" alt="..." class="img-fluid rounded-circle"></div>
                                        <div class="msg-body">
                                            <h3 class="h5" id="userName">null</h3><span id="userEmail">null</span>
                                        </div>
                                    </a>
                                    <hr>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item">
                                        <div class="notification">
                                            <div onclick="javascript:location.href='/User/ProfileView'" class="notification-content"><i class="fa fa-user fa-2x"></i>我的账户</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item">
                                        <div class="notification">
                                            <div onclick="javascript:location.href='/Account/UpdatePw'" class="notification-content"><i class="fa fa-lock fa-2x"></i>修改密码</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" href="#" class="dropdown-item">
                                        <div class="notification">
                                            <div onclick="javascript:location.href='/Calculation/CreatCheckTxtTemplate'" class="notification-content"><i class="fa fa-download fa-2x"></i>检验报告模板下载</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex align-items-center" onclick="loginOut();"><a id="menu-toggle-right" class="nav-link" href="#"><i class="fa fa-power-off fa-2x"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        @*overflow-y: hidden;*@
        @RenderBody()
        <script>
            //table.initial();
            //languagePlugin.GetLanguage(languagePlugin.AllLanguageUrl);
        </script>
    </div>

    <style>
        .fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
            margin-top: 0px;
        }

        .bootstrap-table .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 1px solid #f4f4f4;
        }

        .bootstrap-table .table.table-hover.table-striped {
            border-bottom: 0px solid #dddddd;
        }
    </style>
</body>
</html>
<script>
    $(function () {
        $("#userName").text(cookie.getCookie("userName"));
        $("#userEmail").text(cookie.getCookie("userEmail"));
        $("#doNumber").text(cookie.getCookie("approvalNumber") == null ? 0 : cookie.getCookie("approvalNumber")); 
        if (cookie.getCookie("userRole") == 1) {
            //显示监听数量
            $("#approvalNumber").show();
            //执行监听
            approvalPolling();
        }
        else {
            $("#approvalNumber").hide();
        }
        toastr.options = {
            "closeButton": true,//是否配置关闭按钮
            "debug": false,//是否开启debug模式
            "newestOnTop": false,//新消息是否排在最上层
            "progressBar": false,//是否显示进度条
            //"positionClass": "toast-top-full-width",//消息框的显示位置
            "positionClass": "toast-bottom-left",
            "preventDuplicates": false,//是否阻止弹出多个消息框
            "onclick": null,//点击回调函数
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",//10s后关闭消息框
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });
    function loginOut() {
        cookie.removeCookie("userName");
        cookie.removeCookie("userEmail");
        cookie.removeCookie("userRole");
        cookie.removeCookie("approvalNumber"); 
        location.replace(path + "Account/SignOut");
    }

    function approvalPolling() {
        var _num = $("#doNumber").text();
        $.getJSON('/ApprovalUserAsync/ApprovalPolling', function (data) {
            if (data.d) {
                if (_num != data.d) {
                    $("#doNumber").text(data.d);
                    cookie.setCookie("approvalNumber", data.d);
                    toastr.info('有新注册用户等待审批！', getNowTime());
                }
            }
            approvalPolling();
        });
    }

    function getNowTime() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        return year + '年' + month + '月' + day + '日 ' + hour + ':' + minute + ':' + second;
    }
</script>