<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <script>
        var path = '@Url.Content("~/")';
    </script>



    <link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap-switch.css">
    <link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="~/AdminLTE/dist/css//bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/font-icon-style.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/style.default.css" id="theme-stylesheet">


    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <!--  <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">-->
    <!-- iCheck -->
    @*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/flat/blue.css">*@
    <!-- bootstrap wysihtml5 - text editor -->
    @*<link rel="stylesheet" href="~/AdminLTE/plugins/summernote-master/dist/summernote.css">*@
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
    <link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <!-- iCheck for checkboxes and radio inputs -->
    @*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/all.css">*@
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    @*<link rel="stylesheet" href="~/AdminLTE/plugins/datetimepicker/bootstrap-datetimepicker.min.css">*@
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

    <link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.css">
    <!-- ion slider Nice -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/index.css">

    <link href="~/AdminLTE/SweetAlert/dist/sweetalert2.css" rel="stylesheet" />



    <!-- jQuery 2.2.3 -->
    


    <script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/AdminLTE/plugins/jQuery/jquery.unobtrusive-ajax.js"></script>
    @*<script src="~/AdminLTE/plugins/jQuery/jquery.media.js"></script>*@
    <script src="~/AdminLTE/plugins/layer/layer.js"></script>

    <script src="~/AdminLTE/comm/_ajax.js"></script>
    <script src="~/AdminLTE/comm/_table.js"></script>
    <script src="~/AdminLTE/comm/_message.js"></script>
    <script src="~/AdminLTE/comm/comm.js"></script>
    <script src="~/AdminLTE/comm/controllist.js"></script>
    <script src="~/AdminLTE/dist/css/bootstrapValidator.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/plugins/jQueryUI/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <link href="~/AdminLTE/bootstrap/css/ionicons.min.css" rel="stylesheet" />

    <script src="~/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
    <!-- bootstrap-treeview 1.2.0 -->
    <script src="~/AdminLTE/bootstrap/js/bootstrap-treeview.js"></script>
    <!-- 弃用 -->
    @*<script src="~/AdminLTE/bootstrap/fuelux-tree/tree.min.js"></script>
        <script src="~/AdminLTE/bootstrap/fuelux-tree/fuelux.tree-sampledata.js"></script>
        <link rel="stylesheet" href="~/AdminLTE/bootstrap/fuelux-tree/fuelux.min.css">*@


    <!-- Sparkline -->
    <script src="~/AdminLTE/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTE/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="~/AdminLTE/dateConvert.js"></script>
    <script src="~/Scripts/veccjs/veccTool.js"></script>
    <script src="~/AdminLTE/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>

    <!-- datepicker -->
    <!--
    <script src="~/AdminLTE/plugins/laydate/laydate.js"></script>-->
    <!-- Bootstrap WYSIHTML5 -->
    @*<script src="~/AdminLTE/plugins/summernote-master/dist/summernote.min.js"></script>*@
    <!-- Slimscroll -->
    <script src="~/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminLTE/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/app.js"></script>

    <!-- DataTables -->
    <script src="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.js"></script>
    <script src="~/AdminLTE/plugins/bootstraptable/dist/locale/bootstrap-table-zh-CN.js"></script>

    <script src="~/AdminLTE/plugins/ionslider/ion.rangeSlider.min.js"></script>
    <!-- Bootstrap slider -->
    <script src="~/AdminLTE/plugins/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    @*<script src="~/AdminLTE/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="~/AdminLTE/plugins/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>*@

    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
    @*<script src="~/AdminLTE/plugins/jQuery/jquery.hotkeys.js"></script>*@
    <script src="~/AdminLTE/SweetAlert/dist/sweetalert2.js"></script>
    <!-- iCheck 1.0.1 -->

    <script src="~/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/AdminLTE/plugins/input-mask/jquery.inputmask.regex.extensions.js"></script>
    <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>


    <script src="~/AdminLTE/ajaxfileupload.js"></script>


    <!--Global Javascript -->
    <script src="~/AdminLTE/dist/js/jquery.min.js"></script>
    <script src="~/AdminLTE/dist/js/popper/popper.min.js"></script>
    <script src="~/AdminLTE/dist/js/tether.min.js"></script>
    <script src="~/AdminLTE/dist/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE/dist/js/jquery.cookie.js"></script>
    <script src="~/AdminLTE/dist/js/jquery.validate.min.js"></script>
    <script src="~/AdminLTE/dist/js/chart.min.js"></script>
    <script src="~/AdminLTE/dist/js/front.js"></script>


</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="">
        <!--====================================================
                                 MAIN NAVBAR
        ======================================================-->
        <header class="header">
            <nav class="navbar navbar-expand-lg row">
                    <div class="col-sm-10">
                        <div class="navbar-holder d-flex align-items-center justify-content-between">
                            <div class="navbar-header">
                                <a href="~/Views/Index/VeccIndex.cshtml" class="navbar-brand">
                                    <div class="brand-text brand-big hidden-lg-down"><img src="~/AdminLTE/dist/img/logo-white.png" alt="Logo" class="img-fluid" ></div>

                                </a>
                                <!--
                                                <a id="toggle-btn" href="#" class="menu-btn active">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                        -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Expand-->
                            <!--                    <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img src="img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""></a></li>-->
                            <!-- Search-->
                            <!--                    <li class="nav-item d-flex align-items-center"><a id="search" class="nav-link" href="#"><i class="icon-search"></i></a></li>-->
                            <!-- Notifications-->
                            <li class="nav-item dropdown">
                                <a id="notifications" class="nav-link" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o fa-2x"></i><span class="noti-numb-bg"></span><span class="badge" style="background:rgba(0,0,0,0.00)">12</span></a>

                            </li>

                            <li class="nav-item dropdown">
                                <a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/AdminLTE/dist/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"></a>
                                <ul aria-labelledby="profile" class="dropdown-menu profile">
                                    <li>
                                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                            <div class="msg-profile"> <img src="~/AdminLTE/dist/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="msg-body">
                                                <h3 class="h5">Steena Ben</h3><span>steenaben@Businessbox.com</span>
                                            </div>
                                        </a>
                                        <hr>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="profile.html" class="dropdown-item">
                                            <div class="notification">
                                                <div class="notification-content"><i class="fa fa-user "></i>我的账户</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" href="profile.html" class="dropdown-item">
                                            <div class="notification">
                                                <div class="notification-content"><i class="fa fa-lock"></i>修改密码</div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item d-flex align-items-center"><a id="menu-toggle-right" class="nav-link" href="#"><i class="fa fa-power-off fa-2x"></i></a></li>
                            <nav id="sidebar-wrapper">
                                <div class="sidebar-nav">
                                    <div class="tab" role="tabpanel">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item ">
                                                <a class="nav-link active" href="#live" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Live</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#trend" role="tab" data-toggle="tab"><i class="fa fa-rocket"></i> Trending</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tabs">
                                            <div role="tabpanel" class="tab-pane fade show active" id="live">
                                                <h3>Connect Live</h3>
                                                <div class="content newsf-list">
                                                    <ul class="list-unstyled">
                                                        <li class="border border-primary">
                                                            <a rel="nofollow " href="#" class=" d-flex">
                                                                <div class="news-f-img"> <img src="~/AdminLTE/dist/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                                <div class="msg-body">
                                                                    <h6 class="h5 msg-nav-h6">New Innovation world</h6>
                                                                    <small>Tech soft is great innovation for...</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="border border-success">
                                                            <a rel="nofollow" href="#" class=" d-flex">
                                                                <div class="news-f-img"> <img src="~/AdminLTE/dist/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                                <div class="msg-body">
                                                                    <h6 class="h5 msg-nav-h6">Modified hand-cart</h6>
                                                                    <small>The idea is to incorporate easy...</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="border border-info">
                                                            <a rel="nofollow" href="#" class=" d-flex">
                                                                <div class="news-f-img"> <img src="~/AdminLTE/dist/img/avatar-4.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                                <div class="msg-body">
                                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                                    <small>A dot matrix printer modified at...</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="border border-primary">
                                                            <a rel="nofollow" href="#" class=" d-flex">
                                                                <div class="news-f-img"> <img src="~/AdminLTE/dist/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                                <div class="msg-body">
                                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                                    <small>A dot matrix printer modified at...</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="border border-success">
                                                            <a rel="nofollow" href="#" class=" d-flex">
                                                                <div class="news-f-img"> <img src="~/AdminLTE/dist/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                                <div class="msg-body">
                                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                                    <small>A dot matrix printer modified at...</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="border border-info">
                                                            <a rel="nofollow" href="#" class=" d-flex">
                                                                <div class="news-f-img"> <img src="~/AdminLTE/dist/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                                <div class="msg-body">
                                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                                    <small>A dot matrix printer modified at...</small>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="trend">
                                                <div class="card card-c2" style="box-shadow: 0 0 0;">
                                                    <div class="header">
                                                        <h3 class="title">Trending Items</h3>
                                                        <p class="category">Last Campaign Performance</p>
                                                    </div>
                                                    <div class="content">
                                                        <canvas class="ct-chart" id="myChart-nav" height="250"></canvas>
                                                        <div class="footer">
                                                            <div class="legend">
                                                                <i class="fa fa-circle text-info"></i> Open
                                                                <i class="fa fa-circle text-danger"></i> Bounce
                                                                <i class="fa fa-circle text-warning"></i> Unsubscribe
                                                            </div>
                                                            <hr>
                                                            <div class="stats">
                                                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </nav>
                        </ul>
                    </div>
            </nav>
        </header>
        @*overflow-y: hidden;*@
        @RenderBody()
        <script>
                                    //table.initial();
                                    //languagePlugin.GetLanguage(languagePlugin.AllLanguageUrl);
        </script>
    </div>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
                //$.widget.bridge('uibutton', $.ui.button);
    </script>

    <style>
        .fixed-table-toolbar .bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
            margin-top: 0px;
        }

        .bootstrap-table .table > thead > tr > th {
            vertical-align: bottom;
            border-bottom: 1px solid #f4f4f4;
        }

        .bootstrap-table .table.table-hover.table-striped {
            border-bottom: 0px solid #dddddd;
        }
    </style>
</body>




</html>
@*<script type="text/javascript">
        $(function() {
            languagePlugin.GetLanguage(languagePlugin.AllLanguageUrl);
        });
    </script>*@