<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Arise Admin Dashboard" />
    <meta name="keywords" content="Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Themeforest, Bootstrap, C3 Graphs, D3 Graphs, NVD3 Graphs, Admin Skin, Black Admin Dashboard, Grey Admin Dashboard, Dark Admin Dashboard, Simple Admin Dashboard, Simple Admin Theme, Simple Bootstrap Dashboard, Invoice, Tasks, Profile" />
    <meta name="author" content="Ramji" />
    <link rel="shortcut icon" href="img/fav.png">
    <title>Dashboard - Admin Dashboard - Arise Admin Panel - shared on themelock.com</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen" />

    <!-- Main CSS -->
    <link href="~/Content/css/main.css" rel="stylesheet" media="screen" />

    <!-- Ion Icons -->
    <link href="~/Content/icomoon.css" rel="stylesheet" />

    <!-- C3 CSS -->
    <link href="~/Content/css/c3.css" rel="stylesheet" />

    <!-- NVD3 CSS -->
    <link href="~/Content/css/nv.d3.css" rel="stylesheet" />

    <!-- Horizontal bar CSS -->
    <link href="~/Content/css/chart.css" rel="stylesheet" />

    <!-- Calendar Heatmap CSS -->
    <link href="~/Content/css/cal-heatmap.css" rel="stylesheet" />

    <!-- Circliful CSS -->
    <link rel="stylesheet" href="~/Content/css/circliful.css" />

    <!-- OdoMeter CSS -->
    <link rel="stylesheet" href="~/Content/css/odometer.css" />

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vecc</p>
        </footer>
    </div>
</body>
</html>
