@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "默认的错误页面";
}
@section styles{
    <style type="text/css">
        p{padding:10px;}
    </style>    
}
<h2>默认的错误页面</h2>

@if (Model != null)
{
    <p class="bg-danger text-danger">
        异常类型：@Model.Exception.GetType().Name
    </p>
    <p class="bg-danger text-danger">
        触发异常的控制器：@Model.ControllerName
    </p>
    <p class="bg-danger text-danger">
        触发异常的操作方法：@Model.ActionName
    </p>
    <p class="bg-danger text-danger">
        错误信息:@Model.Exception.Message
    </p>
    <p class="bg-info text-info">
        页面路径:~/Views/Shared/Error.cshtml        
    </p>
}